/* =====================================
      Animation functions :
      ========================================*/

@keyframes typewriter {
    0% {
        width: 0;
    }
    30% {
        width: 55rem;
    }
    100% {
        width: 55rem;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes flip {
    0% {
        transform: scaleX(-1);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes zoomInOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes infiniteRotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
