$nav: linear-gradient(90deg, rgba(32, 0, 52, 1) 0%, rgba(70, 0, 92, 1) 100%);
$special: linear-gradient(90deg, rgba(168, 3, 221, 1) 0%, rgba(96, 0, 110, 1) 100%);
$main: #c207c2;
$second: #750075;
$third: #340b55;
$wrapper: #fdf8ff;
$color1: #2a2d34;
$color2: #646872;
$color3: #035C97;
$color6: #3949ab;
